/* Style for the thumb of the range input */
.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 26px;
    width: 26px;
    background: #EDECEC;
    border: 3px solid #FD6F00;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 8px rgba(253, 111, 0, 0.6);
}